.team-join .link {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--team-svg);
  background-color: var(--primary-white-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
  }

  &-footer {
    fill: var(--primary-white-color);
    background-color: var(--footer-svg);
  }
}

.team-join {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
}

.team-join-list:not(:last-child) {
  margin-right: 10px;
}

.team-svg {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.team-join-footer {
  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}
